<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-6">
            <h2>Zadanie 2</h2>
            <form action="Result" method="post">
                <div class="mb-3">
                    <label class="form-label" for="a">Podaj imię</label>
                    <input class="form-control" type="text" name="Name"/>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="b">Podaj datę urodzenia: </label>
                    <input class="form-control" type="text" name="BirthDate"/>
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary" type="submit">Oblicz</button>
                </div>
            </form>
        </div>
    </div>
</div>