@model Note

<form asp-action="Create" method="post">
    <div>
        <label asp-for="Title"></label>
        <span asp-validation-for="Title"></span>
        <input asp-for="Title"/>
    </div>

    <div>
        <label asp-for="Content"></label>
        <span asp-validation-for="Content"></span>
        <textarea asp-for="Content"></textarea>
    </div>

    <div>
        <label asp-for="Deadline"></label>
        <span asp-validation-for="Deadline"></span>
        <input asp-for="Deadline" type="datetime-local" />
    </div>

    <div>
        <button type="submit">Prześlij</button>
    </div>

</form>