<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-6">
            <h2>Kalkulator</h2>
            <form action="Result" method="post"> 
                <div class="mb-3">
                    <label class="form-label" for="a">Liczba 1</label>
                    <input class="form-control" type="number" name="A" step="0.00001" id="x" />
                </div>
                <div class="mb-3">
                    <label class="form-label" for="op">Operator</label>
                    <select name="Operation">
                        <option value="add">+</option>
                        <option value="sub">&minus;</option>
                        <option value="mul">&times;</option>
                        <option value="div">&divide;</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="b">Liczba 2</label>
                    <input class="form-control" type="number" name="B" step="0.00001" id="y" />
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary" type="submit">Oblicz</button>
                </div>
            </form>
        </div>
    </div>
</div>