<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-6">
            <h2>Kalkulator</h2>
            <form action="Result" method="GET"> 
                <div class="mb-3">
                    <label class="form-label" for="a">Liczba 1</label>
                    <input class="form-control" type="number" name="a" step="0.00001" id="x" />
                </div>
                <div class="mb-3">
                    <label class="form-label" for="op">Operator</label>
                    <input class="form-control" type="text" name="op" id="operator" />
                </div>
                <div class="mb-3">
                    <label class="form-label" for="b">Liczba 2</label>
                    <input class="form-control" type="number" name="b" step="0.00001" id="y" />
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary" type="submit">Oblicz</button>
                </div>
            </form>
        </div>
    </div>
</div>